<div class="currents_container">

  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.date.strftime("%b. %d %Y %I:%M%p") %></p>
    <p><%= post.content %></p>
    <hr>
  <% end %>

</div>
