<!DOCTYPE html>
<html>
<head>
  <title>Czajavitae</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #F0F8FF;">

<%= yield %>

</body>
</html>
